<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=12.1.18.620, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
  </configSections>
  <Telerik.Reporting>
    <Cache provider="" />
    <cache provider="" />
    <assemblyReferences>
      <add name="ClassLibrary1" />
    </assemblyReferences>
    <SessionState provider="" />
    <restReportService>
      <storage provider="" />
      <reportResolver provider="" />
    </restReportService>
    <appData path="" />
  </Telerik.Reporting>
</configuration>