@page "/"

<div class="mainContainer">
    <h2 class="mainHeading">Telerik UI for Blazor & Telerik Reporting</h2>
    <p class="mainText">
        The example on this page demonstrates integration between the Telerik UI for Blazor and Telerik Reporting. Both the Blazor Grid and the Report Viewer is loaded into different
        TabStrips. The grid is the first tab open and data is passed to the Grid and can be interacted with by applying filters, sorting and grouping which are stored in the state
        of the Grid. This state is being read and converted to JSON together with the data, which the Report Viewer uses to request a rendered report from the Report REST Service.
    </p>
    <p class="takeaction">Try applying filtering, sorting and grouping to the grid, and click the Report tab!</p>

</div>

<GridReport></GridReport>