<div class="container">
  <form>
    <div class="form-group">
      <div class="input-group-prepend" style="display: flex; justify-content: center;">
          <mat-tab-group [(selectedIndex)]="selectedTab" style="width: 75vw;">
              <mat-tab label="Tab 1">
                <ng-template matTabContent>
                  <button mat-button type="button" (click)="onLoad1Click()">Load</button>
                  <tr-viewer #rptViewer1
                    [containerStyle]="viewerContainerStyle"
                    [serviceUrl]="reportServerUrl"
                    [viewMode]="'INTERACTIVE'"
                    [scaleMode]="'SPECIFIC'"
                    [scale]="1.0">
                  </tr-viewer>
                </ng-template>
              </mat-tab>

              <mat-tab label="Tab 2">
                <ng-template matTabContent>
                  <button mat-button type="button" (click)="onLoad2Click()">Load</button>
                  <tr-viewer #rptViewer2
                    [containerStyle]="viewerContainerStyle"
                    [serviceUrl]="reportServerUrl"
                    [viewMode]="'INTERACTIVE'"
                    [scaleMode]="'SPECIFIC'"
                    [scale]="1.0">
                  </tr-viewer>
                </ng-template>
              </mat-tab>
          </mat-tab-group>
       </div>
    </div>
  </form>
</div>
