@using Kendo.Mvc.UI
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.common.min.css" rel="stylesheet" id="common-css" />
    <link href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.default.min.css" rel="stylesheet" id="skin-css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2018.2.620/js/kendo.aspnetmvc.min.js"></script>

    <script src="@Url.Content("~/api/reports/resources/js/telerikReportViewer")"></script>


    <script type="text/javascript">
        const FirstReport = "FirstReport.trdp";
        const SecondReport = "SecondReport.trdp";

        var showFirst = false;

        function Reports_onWindowOpenNew(e) {
            var viewer = $("#reportViewer1").data("telerik_ReportViewer");
            if (viewer) {
                var reportname = SecondReport;
                if (showFirst) {
                    reportname = FirstReport;
                }

                showFirst = !showFirst;
                viewer.reportSource({
                    report: reportname,
                    parameters: {}
                });
            }
        }

        function switchButtonText() {
            var buttonText = "Preview Second Report";

            if (showFirst) {
                buttonText = "Preview First Report";
            }

            return buttonText;
        }
    </script>

    <style>
        #reportViewer1 {
            position: relative;
            width: 1300px;
            height: 900px;
            font-family: Verdana, Arial;
        }
    </style>

</head>
<body>
    <div>
        @(Html.Kendo().Window()
                    .Name("winReports")
                    .Title("Reports")
                    .Draggable()
                    .Actions(actions => actions.Close())
                    .Events(e => e.Open("Reports_onWindowOpenNew"))
                    .Modal(true)
                    .LoadContentFrom("DisplayReportViewer", "Home")
                    .Visible(false)
                    .Width(1000)
                    .HtmlAttributes(new { style = "margin: 3px" })
        )
    </div>

    <div>
        <button id="btnPreviewReport">Preview First Report</button>
    </div>
    <script>

        $('#btnPreviewReport').click(function () {
            this.innerText = switchButtonText();
            dialog = $("#winReports").data("kendoWindow");
            dialog.title("Reports").center(true).open();
        });
    </script>
</body>
</html>