@layout TelerikLayout
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
    <!--<div class="top-row pl-4 navbar navbar-dark">-->
        @*<a class="navbar-brand" href="">Blazor-Grid And Report</a>*@
        <!--<img src="/logo-full.svg" height="auto" />
    </div>-->
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>
</div>
