<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Telerik HTML5 Report Viewer</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link href="https://kendo.cdn.telerik.com/2022.3.913/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2022.3.913/styles/kendo.blueopal.min.css" rel="stylesheet" />

    <script src="~/api/reports/resources/js/telerikReportViewer"></script>

    <style>
        #reportViewer1 {
            position: absolute;
            left: 5px;
            right: 5px;
            top: 5px;
            bottom: 5px;
            overflow: hidden;
            font-family: Verdana, Arial;
        }
    </style>
</head>
<body>

    <div id="reportViewer1">
        loading...
    </div>
    @{ 
        var baseUrl = Request.Url.GetLeftPart(UriPartial.Authority) + @Url.Content("~/");
        var webServiceUrl = $"{baseUrl}/api/notifications/";
        var reportingServiceUrl = $"{baseUrl}/api/reports/";
    }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reportViewer1")
                .telerik_ReportViewer({

                    //reportServer: {
                    //	url: "http://arabadzhiev:83/",
                    //	username: "todor (pass is todortodor)",
                    //	password: "todortodor"
                    //},
                    //reportSource: {
                    //    report: "Test/Web Hooks Report"
                    //},

                    serviceUrl: "@reportingServiceUrl",
                    reportSource: {
                        report: "WebHooksReport.trdx",
                        parameters: { webServiceUrl : "@webServiceUrl" }
                    }
                });
        });
    </script>

</body>
</html>